@tailwind base;
@tailwind components;
@tailwind utilities;

.login-form {
  background: white;
  padding-bottom: 24px;
  padding-top: 10px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 40px 0 0;
  padding: 20px 0 28px;
  width: 396px;
}

.login-input {
  font-size: 17px;
  padding: 14px 16px;
  font-family: inherit;
  border-radius: 6px;
  border: 1px solid #dddfe2;
  color: #1d2129;
  vertical-align: middle;
  margin: 0 auto;
  width: 100%;
  margin: 0 auto;
}

.login-input:focus, :hover {
  border-color: #1b74e4;
  box-shadow: 0 0 0 2px #e7f3ff;
  caret-color: #1b74e4;
}

.login-btn {
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 100%;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: white;
  white-space: nowrap;
}

.create-new-btn {
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 0 16px;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 0 16px;
  background-color: #42b72a;
  color: white;
}

.login-footer {
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
  font-size: 12px;
}

.footer-text {
  list-style-type: none;
  direction: ltr;
  line-height: 1.34;
  color: #8a8d91;
  font-size: 12px;
}

li {
  /* padding-right: 24px */
}
